{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}
{% if previousPost %}Previous:
    <a class="markdown" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
{% endif %}
<br>
    {% if nextPost %}Next:
        <a class="markdown" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    {% endif %}